#bottom-shelf{
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 1994;
    transition: all .25s;
    width: 100%;
    overflow: hidden;
    background-color: $color-white;

    .header{
        @extend %flex-align-center;
        color: $color-light-grey;
        justify-content: space-between;
        padding: .5rem;
        border-bottom: $border-light;


        .close{
            @include font-size(1.5);
            // position: absolute;
            right: 5px;
            top: 0;
            cursor: pointer;
        }
    }
    
    &.show{
        display: block;
        
    }
    .content{
        padding: 1rem;
    }



}

#user-location-prompt{
    background-color: $color__header-background-offset;
    color: $color-white;
    padding: .5rem;
    @extend %flex-align-center;
    cursor: pointer;

    i{
        color: $color-primary;
        @include font-size(1.5);
    }

    span{
        padding: 0 .5rem;
        font-size: 14px;
    }
}