.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		overflow: hidden;

		li{
			padding: .5rem;
			padding-left: 0rem;
			white-space: nowrap;

			a{
				word-wrap: none;
			}
		}
	}

}